.results-list {
  width: 90%;
  margin: 5px auto;
  padding: 0;
}

.results-list ul {
  display: inline-block;
  width: 40%;
  padding: 0;
  list-style: none;
}

.results-list__timedisplay {
  font-size: 2rem;
  margin: 5px 0;
}

.results-list__athlete-name {
  font-size: 2rem;
  margin: 5px 0;
}

