.stopwatch {
  width: 50%;
  margin: 10px auto;
  padding: 1em;
  border: 1px solid grey;
  border-radius: 3px;
}

.stopwatch__label {
  font-size: 1.2rem;
  margin: 5px auto;
}

.stopwatch__timedisplay {
  font-size: 3.5rem;
  margin: 5px auto;
}
